*.a
*.o
*.lo
*.la
.deps/
.libs/
Makefile
Makefile.in
/aclocal.m4
/autoconf/*
!/autoconf/*.am
!/autoconf/*.m4
/autom4te.cache/
/config.*
/configure
/libtool
/stamp-h?

/common.makefile
/interface.h
/doc/timidity.1
/doc/timidity.cfg.5
/timidity/calcnewt
/timidity/newton_table.c
/timidity/timidity

*~
*.swp
